<ion-content fullscreen scroll-y="false" class="wine-bg">
  <div class="screen">

    <div class="title-block">
      <span class="line-my">my</span>
      <span class="line-favorite">favorite</span>
      <span class="line-song">song</span>
    </div>

    <div class="cd-wrap">
      <img src="/assets/cd-ultraviolence.png" alt="Ultraviolence CD by Lana Del Rey" />
    </div>

    <div class="caption">
      <p class="artist">lana del rey</p>
      <p class="track">"brooklyn baby"</p>
      <p class="meta">from ultraviolence | 2014</p>
    </div>

  </div>
</ion-content>